---
import LayoutWithLinks from "@/layouts/LayoutWithLinks.astro";
import Socials from "@/components/Socials.astro";

const image = '../markdown/images/jan.jpg'

const title = 'about';
---

<LayoutWithLinks title={title}>
	<article class="prose text-justify mb-16">
    <h3>Hi, I'm Jan 👋</h3>
    <p>
      I am a <b>web developer</b> with experience in both frontend and backend technologies.
      I love working on various hardware and software projects.
      Currently, I'm a graduade student in Business Informatics at the Karsruhe Institute of Technology in Germany.
    </p>

    <img class="mx-auto rounded-full w-40" src="../../jan.jpg" alt="a picture of me">
    <div class="mt-8 not-prose">
      <Socials />
    </div>

    <p>
      When I am not working or studying, I love traveling, exploring new places and immersing myself in diverse cultures around the world.
      Through my blog, I enjoy sharing my thoughts, experiences, and interesting parts of my work.
      This website servers as a personal showcase, giving you a glimpse into both my professional journey and the passions that fuel my creativity.
    </p>

  </article>
</LayoutWithLinks>
