---
import LayoutWithLinks from "@/layouts/LayoutWithLinks.astro";
import Socials from "@/components/Socials.astro";
import { Image } from "astro:assets";
import headshot from "../images/jan.jpg";

const title = "about";
const description = "tech enthusiast, student, and data nerd. check out my projects, interests, and what I'm up to these days.";
---

<LayoutWithLinks title={title} description={description}>
  <article class="prose prose-sm sm:prose text-primary-light dark:text-primary-dark text-justify max-w-xl">
    <p>
      I love working on various hardware and software projects.
      Currently, I'm a graduate student in Information Systems at the
      Karlsruhe Institute of Technology in Germany. 
      Additionally, I work as a data analyst at 
      <a href="https://finanzguru.de" target="_blank" class="text-primary-light dark:text-primary-dark">Finanzguru</a>, a FinTech company.
    </p>

    <Image
      class="w-32 mx-auto rounded-full"
      src={headshot}
      alt="a portrait of me"
      loading="eager"
    />
    <div class="mt-2 not-prose">
      <Socials />
    </div>

    <p>
      When I am not working or studying, I love traveling, exploring new places
      and immersing myself in diverse cultures around the world. Through my
      blog, I enjoy sharing my thoughts, experiences, and interesting parts of
      my work. This website servers as a personal showcase, giving you a glimpse
      into both my professional journey and the passions that fuel my
      creativity.
    </p>
  </article>
</LayoutWithLinks>