---
import Layout from "@/layouts/Layout.astro";
import Links from "@/components/Links.astro";
import Socials from "@/components/Socials.astro";

const title = "Jan Dorn";
---

<Layout title={title}>

  <!-- center content -->
	<div class="flex flex-col items-center justify-center pb-[8em] space-y-6">

    <div class="relative">
      <!-- had to inline the logo to animate the dot -->
      <!-- <img class="logo sm:h-14 h-10" src="../../jandorn.svg" alt="jandorn.com logo">  -->
      <svg class="logo sm:h-14 h-10" viewBox="0 0 114.85 17.55" style="overflow: visible;">
        <defs>
          <style>
      
          </style>
        </defs>
        <path class="j" d="m0,16.22l.9-3.24c.86.65,1.87,1.08,2.99,1.08,1.73,0,2.74-1.04,2.74-3.2V.58l3.74-.58v11.36c0,3.53-2.16,6.19-5.94,6.19-1.62,0-3.17-.5-4.43-1.33Z"/>
        <path class="a" d="m20.53,1.42c-4.38,0-8.18,3.58-8.18,7.96,0,4.75,3.21,7.96,7.82,7.96,1.9,0,3.58-.66,4.53-1.68v1.4h4.02v-7.69c0-4.75-3.43-7.96-8.18-7.96Zm0,12.4c-2.45,0-4.44-1.99-4.44-4.44s1.99-4.44,4.44-4.44,4.44,1.99,4.44,4.44-1.99,4.44-4.44,4.44Z"/>
        <path class="n1" d="m37.82,1.56c3.75,0,6.48,2.4,6.48,6.04v9.61h-4.1V7.48c0-1.35-1.03-2.34-2.34-2.34s-2.37,1-2.37,2.34v9.73h-4.1V7.45c0-3.52,2.7-5.89,6.45-5.89Z"/>
        <path class="d" d="m56.93.37h5.95c5.04,0,8.83,3.62,8.83,8.39s-3.79,8.42-8.83,8.42h-5.95V.37Zm5.79,13.74c3.15,0,5.48-2.27,5.48-5.35s-2.33-5.35-5.48-5.35h-2.27v10.69h2.27Z"/>
        <path class="o" d="m81.45,1.54c-4.32,0-8.06,3.53-8.06,7.85,0,4.68,3.38,7.85,8.06,7.85,4.32,0,8.06-3.53,8.06-7.85,0-4.68-3.38-7.85-8.06-7.85Zm0,12.29c-2.45,0-4.44-1.99-4.44-4.44s1.99-4.44,4.44-4.44,4.44,1.99,4.44,4.44-1.99,4.44-4.44,4.44Z"/>
        <path class="r" d="m96.62,1.81c-2.7.47-4.2,2.24-4.2,5.32v10.06h4.12"/>
        <path class="n2" d="m108.35,1.53c3.77,0,6.5,2.41,6.5,6.06v9.65h-4.12V7.47c0-1.35-1.03-2.35-2.35-2.35s-2.38,1-2.38,2.35v9.77h-4.12V7.44c0-3.53,2.71-5.91,6.47-5.91Z"/>
        <circle class="dot" cx="99.73" cy="3.49" r="1.81"/>
      </svg>
    </div>
    <div class="flex justify-between w-full">
      <Links />
    </div>
    <Socials />
	</div>
</Layout>

<script>
  import { gsap } from "gsap";

  gsap.from(".dot", {
    duration: 1.5,
    y: -15,
    ease: "elastic.out(.5, .2)"
  });



</script>
