---
import Layout from "../layouts/Layout.astro";
import Links from "../components/Links.astro";
import ThemeChanger from "../components/ThemeChanger.astro";
import "../layouts/Layout.astro"
---

<Layout title="Jan Dorn">
	<div class="flex flex-col items-center justify-center h-full">
    <div class="relative">
      <p class="absolute top-[-.75em] right-[-1.5em]">
        <ThemeChanger />
      </p>
      <img class="h-11" src="jandorn.svg" alt="Logo Jan Dorn">
    </div>
		<Links />
	</div>
</Layout>
