---
import LayoutWithLinks from "@/layouts/LayoutWithLinks.astro";

const title = "work";
const description = "A collecition of projects I have worked on in the past or am currently working on.";
---

<LayoutWithLinks title={title} description={description}>
  <div class="max-w-prose flex flex-col space-y-16">
    <div class="space-y-8">
      <p>projects that I created or that I am currently working on</p>
      <div class="flex flex-col space-y-2 divide-divider-light dark:divide-divider-dark">
        <div class="relative hover:text-hover-light dark:hover:text-hover-dark">
          <a href="https://unitootor.com/" class="flex justify-between tooltip-link">
            <span>Unitootor</span>
            <span class="text-secondary-light dark:text-secondary-dark">creator, maintainer</span>
          </a>
        </div>
        <div class="tooltip hidden absolute text-sm py-2 px-3 bg-white text-[#67686D] rounded shadow w-64 opacity-95">
          <p class="mb-2">
            This is a project I started in the begginning of 2024.
            It's a webapp that lets students upload their lecture pdfs and generate a learning plan based on the content of the pdfs.
            It's work in progress and I'm currently working on the backend.
          </p>
          <span class="text-xs flex flex-wrap gap-2">
            <p>Astro</p>
            <p>Alpine</p>
            <p>FastAPI</p>
            <p>OpenAI API</p>
          </span>
        </div>
        <hr>
        <div class="relative hover:text-hover-light dark:hover:text-hover-dark">
          <a href="https://github.com/jandorn/jandorn.com/" class="flex justify-between tooltip-link">
            <span>Personal Website</span>
            <span class="text-secondary-light dark:text-secondary-dark">creator, maintainer</span>
          </a>
        </div>
        <div class="tooltip hidden absolute text-sm py-2 px-3 bg-white text-[#67686D] rounded shadow w-64 opacity-95">
          <p class="mb-2">
            Built my personal website in the end of 2023. First time I came in contact with Astro and I'm loving it since.
          </p>
          <span class="text-xs flex flex-wrap gap-2">
            <p>Astro</p>
          </span>
        </div>
        <hr>
        <div class="relative hover:text-hover-light dark:hover:text-hover-dark">
          <a class="flex justify-between tooltip-link">
            <span>Energyleaf</span>
            <span class="text-secondary-light dark:text-secondary-dark">creator</span>
          </a>
        </div>
        <div class="tooltip hidden absolute text-sm py-2 px-3 bg-white text-[#67686D] rounded shadow w-64 opacity-95">
          <p class="mb-2">
            This project entailed building and installing sensors in private households to measure the energy consumption over time.
            The data was then analyzed and visualized in a web app.
            I also wrote my bachelor thesis about this project.
          </p>
          <span class="text-xs flex flex-wrap gap-2">
            <p>Vue</p>
            <p>Flask</p>
            <p>MySQL</p>
          </span>
        </div>
        <hr>
        <div class="relative hover:text-hover-light dark:hover:text-hover-dark">
          <a href="https://hop.fzi.de/taxonomy/" class="flex justify-between tooltip-link">
            <span>Taxonomy</span>
            <span class="text-secondary-light dark:text-secondary-dark">creator</span>
          </a>
        </div>
        <div class="tooltip hidden absolute text-sm py-2 px-3 bg-white text-[#67686D] rounded shadow w-64 opacity-95">
          <p class="mb-2">
            During my internship at the FZI as a software developer,
            I created a web app to help create and visualize the taxonomy of an internal research project.
          </p>
          <span class="text-xs flex flex-wrap gap-3">
            <p>Vue</p>
            <p>FastAPI</p>
            <p>MongoDB</p>
          </span>
        </div>
      </div>
    </div>
    <div class="space-y-2">
      <h3 class="font-bold">Micros</h3>
      <p class="pb-6">Fun and interesting little projects. Not necessarily useful.</p>
      <div class="flex flex-col space-y-2 divide-divider-light dark:divide-divider-dark">
        <div class="relative hover:text-hover-light dark:hover:text-hover-dark">
          <a href="https://github.com/jandorn/ATTiny-Counter" class="flex justify-between tooltip-link">
            <span>Freeform counter</span>
            <span class="text-secondary-light dark:text-secondary-dark">creator</span>
          </a>
        </div>
        <div class="tooltip hidden absolute text-sm py-2 px-3 bg-white text-[#67686D] rounded shadow w-64 opacity-95">
          <p class="mb-2">
            2020 I built a freeform circuit with a 4-digit 7-segment display that counts up when a button is pressed.
            I built this as a christmas present for my dad to help him stop smoking. 1 day without smoking = 1 press of the button.
            This project is powered by an ATTiny85. For more information, check out the GitHub repo.
          </p>
        </div>
      </div>
    </div>
  </div>
</LayoutWithLinks>

<script is:inline>
  function bindTooltipListeners() {
    const tooltipLinks = document.querySelectorAll('.tooltip-link');

    tooltipLinks.forEach((link, index) => {
      const tooltip = document.getElementsByClassName('tooltip')[index];

      link.addEventListener('mousemove', (e) => {
        tooltip.classList.remove('hidden');
        tooltip.style.visibility = 'hidden';

        const tooltipWidth = 256; //half of the tailwind width w-64
        const tooltipHeight = tooltip.offsetHeight;
        const x = e.pageX - tooltipWidth / 2;
        const y = e.pageY - tooltipHeight - 20;

        tooltip.style.left = `${x}px`;
        tooltip.style.top = `${y}px`;
        tooltip.style.visibility = 'visible';
      });

      link.addEventListener('mouseleave', () => {
        tooltip.classList.add('hidden');
      });
    });
  }

  bindTooltipListeners();

  document.addEventListener('astro:after-swap', bindTooltipListeners);
  document.addEventListener('astro:page-load', bindTooltipListeners);
</script>

