---
import LayoutWithLinks from "@/layouts/LayoutWithLinks.astro";

const title = "work";
const description = "A collecition of projects I have worked on in the past or am currently working on.";
---

<LayoutWithLinks title={title} description={description}>
  <div class="max-w-prose flex flex-col space-y-16">
    <div class="space-y-8">
      <p>projects that I created or that I am currently working on</p>
      <div class="flex flex-col space-y-2 divide-divider-light dark:divide-divider-dark">
        <a href="https://jandorn.com/">
          <div class="flex justify-between hover:text-hover-light dark:hover:text-hover-dark">
            <span>Personal Website</span>
            <span class="text-secondary-light dark:text-secondary-dark">creator</span>
          </div>
        </a>
        <hr>
        <a href="https://energyleaf.de/">
          <div class="flex justify-between hover:text-hover-light dark:hover:text-hover-dark">
            <span>Energyleaf</span>
            <span class="text-secondary-light dark:text-secondary-dark">creator</span>
          </div>
        </a>
        <hr>
        <a href="https://hop.fzi.de/taxonomy/">
          <div class="flex justify-between hover:text-hover-light dark:hover:text-hover-dark">
            <span>Taxonomy</span>
            <span class="text-secondary-light dark:text-secondary-dark">creator</span>
          </div>
        </a>
      </div>
    </div>
    <div class="space-y-2">
      <h3 class="font-bold">Micros</h3>
      <p>Fun and interesting little projects. Not necessarily useful.</p>
    </div>
  </div>
</LayoutWithLinks>