---
import LayoutWithLinks from "@/layouts/LayoutWithLinks.astro";

const title = "work";
const description = "A collecition of projects I have worked on in the past or am currently working on.";
---

<LayoutWithLinks title={title} description={description}>
  <div class="max-w-prose flex flex-col space-y-16">
    <div class="space-y-8">
      <p>projects that I created or that I am currently working on</p>
      <div class="space-y-1">
        <div class="flex justify-between">
          <span class="">Personal Website</span>
          <span class="">creator</span>
        </div>
        <hr>
        <div class="flex justify-between">
          <span class="">Energyleaf</span>
          <span class="">creator, maintainer</span>
        </div>
        <hr>
        <div class="flex justify-between">
          <span class="">Taxonomy</span>
          <span class="">creator</span>
        </div>
      </div>
    </div>
    <div class="space-y-2">
      <h3 class="text-xl font-bold">Micros</h3>
      <p>Fun and interesting little projects. Not necessarily useful.</p>
    </div>
  </div>
</LayoutWithLinks>