---
const isActive = (path) => {
  if (path === "/") {
    return Astro.url.pathname === "/";
  }
  return Astro.url.pathname.startsWith(path);
};
---

<p
  class={`${
    isActive("/") ? "text-black" : "text-neutral-500"
  } hover:text-black text-xl sm:text-lg`}
>
  <a href="/">home</a>
</p>
<p
  class={`${
    isActive("/blog") ? "text-black" : "text-neutral-500"
  } hover:text-black text-xl sm:text-lg`}
>
  <a href="/blog">blog</a>
</p>
<p
  class={`${
    isActive("/about") ? "text-black" : "text-neutral-500"
  } hover:text-black text-xl sm:text-lg`}
>
  <a href="/about">about</a>
</p>
<p
  class={`${
    isActive("/work") ? "text-black" : "text-neutral-500"
  } hover:text-black text-xl sm:text-lg`}
>
  <a href="/work">work</a>
</p>
