---

---

<p class="text-stone-400 hover:text-black"><a href="/">home</a></p>
<p class="text-stone-400 hover:text-black"><a href="/blog">blog</a></p>
<p class="text-stone-400 hover:text-black"><a href="/about">about</a></p>
<p class="text-stone-400 hover:text-black"><a href="/work">work</a></div>
