---
const isActive = (path) => {
  if (path === "/") {
    return Astro.url.pathname === "/";
  }
  return Astro.url.pathname.startsWith(path);
};
---

<p
  class={`${
    isActive("/") ? "underline dark:underline" : ""
  } text-black dark:text-white hover:underline dark:hover:underline underline-offset-4 text-xl sm:text-lg`}
>
  <a href="/">home</a>
</p>
<p
  class={`${
    isActive("/blog") ? "underline dark:underline" : ""
  } text-black dark:text-white hover:underline dark:hover:underline underline-offset-4 text-xl sm:text-lg`}
>
  <a href="/blog">blog</a>
</p>
<p
  class={`${
    isActive("/work") ? "underline dark:underline" : ""
  } text-black dark:text-white hover:underline dark:hover:underline underline-offset-4 text-xl sm:text-lg`}
>
  <a href="/work">work</a>
</p>
<p
  class={`${
    isActive("/about") ? "underline dark:underline" : ""
  } text-black dark:text-white hover:underline dark:hover:underline underline-offset-4 text-xl sm:text-lg`}
>
  <a href="/about">about</a>
</p>
