---
import { Icon } from "astro-icon";
---

<ul class="flex justify-between w-full">
  <li><a href="https://github.com/jandorn/" target="_blank"><Icon name="mdi:github" /></a></li>
  <li><a href="https://twitter.com/ja_dorn" target="_blank"><Icon name="mdi:twitter" /></a></li>
  <li><a href="https://www.linkedin.com/in/jandorn/" target="_blank"><Icon name="mdi:linkedin" /></a></li>
  <li><a href=""><Icon name="mdi:email" /></a></li>
</ul>

<style>
li {
  width: .9rem;
}
</style>
