---
import { Icon } from "astro-icon";
---

<ul class="flex justify-between w-full">
  <li class="w-[1.2rem] sm:w-[1.1rem]"><a href="https://github.com/jandorn/" target="_blank"><Icon name="mdi:github" /></a></li>
  <li class="w-[1.2rem] sm:w-[1.1rem]"><a href="https://twitter.com/ja_dorn" target="_blank"><Icon name="mdi:twitter" /></a></li>
  <li class="w-[1.2rem] sm:w-[1.1rem]"><a href="https://www.linkedin.com/in/jandorn/" target="_blank"><Icon name="mdi:linkedin" /></a></li>
  <li class="w-[1.2rem] sm:w-[1.1rem]"><a href="mailto:ja.dorn@web.de"><Icon name="mdi:email" /></a></li>
</ul>
