---
import { Image } from "astro:assets";
import github from "../icons/github-logo.svg";
import x from "../icons/x-logo.svg";
import linkedin from "../icons/linkedin-logo.svg"
import email from "../icons/email-logo.svg"
---

<ul class="flex justify-between w-full">
  <li class="w-[1.2rem] sm:w-[1.1rem]"><a href="https://github.com/jandorn/" target="_blank"><Image src={github} alt="github link" loading="eager" /></a></li>
  <li class="w-[1.2rem] sm:w-[1.1rem]"><a href="https://twitter.com/ja_dorn" target="_blank"><Image src={x} alt="x link" loading="eager" /></a></li>
  <li class="w-[1.2rem] sm:w-[1.1rem]"><a href="https://www.linkedin.com/in/jandorn/" target="_blank"><Image src={linkedin} alt="linkedin link" loading="eager" /></a></li>
  <li class="w-[1.5rem] sm:w-[1.3rem]"><a href="mailto:ja.dorn@web.de"><Image src={email} alt="email link" loading="eager" /></a></li>
</ul>
