---
import { Icon } from "astro-icon";
---

<ul class="text-xl font-medium flex items-center justify-between shrink-0 w-full">
  <li><a href=""><Icon name="mdi:github" /></a></li>
  <li><a href=""><Icon name="mdi:twitter" /></a></li>
  <li><a href=""><Icon name="mdi:linkedin" /></a></li>
  <li><a href=""><Icon name="mdi:email" /></a></li>
</ul>

<style>
li {
  width: 1rem;
}
</style>
