---
import Layout from '@/layouts/Layout.astro'
import Links from '@/components/Links.astro'
import { Image } from 'astro:assets';

import jLogo from "../images/logo_j.svg";

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<Layout title={title}>
  <div class="flex flex-col w-full sm:mt-[6rem] mt-[2rem] sm:flex-row">

    <!-- mobile logo (only visible on small screens) -->
    <div class="sm:hidden flex justify-center mb-8">
      <a href="/"><Image class="w-3" src={jLogo} alt="j logo" /></a>
    </div>

    <!-- nav -->
    <div class="hidden sm:flex flex-shrink-0 w-24 flex-col space-y-8 items-center mx-20">
      <a href="/"><Image class="w-4" src={jLogo} alt="j logo" /></a>
      <div class="flex flex-col items-end">
        <Links />
      </div>
    </div>

    <!-- main -->
    <div class="flex-grow px-8 sm:px-0 sm:pr-8 mb-8">
      <div class="text-4xl -mt-2 mb-7">{title}</div>
      <div>
        <slot />
      </div>
    </div>
  </div>
</Layout>
