---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link href="https://fonts.cdnfonts.com/css/helvetica-neue-5" rel="stylesheet">
		<link rel="stylesheet" href="/src/styles/global.css">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="items-center justify-center p-0 m-0 bg-light dark:bg-dark w-full h-full min-h-screen border-[1em] border-primary flex flex-col">
			<slot />
		</div>
	</body>
</html>

<script>

</script>

<style is:global>

</style>
